.jumbotron {
  background-image: url('../img/background.png');
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.btn-primary {
  background-color: rgb(42,31,85);
}

.btn-primary:hover {
  background-color: rgba(42,31,85, 0.8);
  border-color: rgb(255, 43, 68);
}

@keyframes flashMessage {
  from{color: rgba(0, 153, 51, 1)}
  to{color: rgba(0, 0, 0, 0)}

}

#userFeed {
  color: green
}
